body {
    background-color: dimgray;
    color: gainsboro;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns:  30px 30px 30px;
    grid-template-rows: 30px 30px 30px 30px;
}


.flex {
    display: flex;
}

.nav-menu {
    margin: 15px 15px;
}

.nav-menu > p {
    margin-right: 5px;
}

#canvas {
  background-color: grey; 
  padding: 0;
}

#resultado {
    padding: 5px 10px;
    background-color:  rgb(41, 41, 41);
}
